*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
    position: relative;
    background: url("../img/BG_forest.jpg") center center/cover no-repeat;
  }
  
  html{
    font-family: 'Indie Flower', cursive; 
  }
  
  .container{
    position: relative;
     width: 1140px; 
     margin: 0 auto;
  }
  
  .promo{
      height: 800px;
      
  }


  